body {
    font-family: Montserrat, sans-serif;
    overflow: hidden;
}

.cursored {
    cursor: pointer;
}

#room {
    position: relative;
    width: 100%;
    height: 100vh;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}
#sectionLoader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: visible;
    background-color: #fff;
}

.section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 98;
    background-color: #fff;
}

.column-4 {
    width: calc(100% / 3);
}

#initialLoader {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    background-image: url('../img/main_bg.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-part {
    position: absolute;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-part-1 {
    background-image: url('../img/main_bg_part_1.webp');
    width: 100px;
    height: 75px;
    left: 10%;
    top: 50px;
    animation: 15s linear infinite leftRight;
}
.bg-part-2 {
    background-image: url('../img/main_bg_part_2.webp');
    width: 100px;
    height: 75px;
    left: 15%;
    bottom: 20%;
    animation: 15s linear infinite rotate;
}
.bg-part-3 {
    background-image: url('../img/main_bg_part_3.webp');
    width: 50px;
    height: 50px;
    right: 5%;
    top: 25%;
    animation: 15s linear infinite rotate;
}
.bg-part-4 {
    background-image: url('../img/main_bg_part_4.webp');
    width: 50px;
    height: 50px;
    right: 20%;
    bottom: 30%;
    animation: 13s linear infinite rotate;
}

@keyframes leftRight {
    0%   {left: 10%;}
    50%  {left: 20%;}
    100% {left: 10%;}
}
@keyframes rotate {
    0%   {transform: rotateZ(0)}
    100% {transform: rotateZ(360deg);}
}
@keyframes pulse {
    0% {
        transform: scale(0.95);
    }

    70% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(0.95);
    }
}

#start_logo {
    width: 400px;
    height: 226px;
    background-image: url('../img/logo_ru.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: calc(50% - 130px);
    margin: 0 auto;
}

#wrapper #colorWipe {
    position: fixed;
    pointer-events: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 100;
}

#colorWipe div {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%
}

#colorWipe1.active {
    top: 0;
    transition: all .8s cubic-bezier(0.65, 0, 0.35, 1);
}
#colorWipe2.active {
    top: 0;
    transition: all .8s cubic-bezier(0.65, 0, 0.35, 1);
}
#colorWipe3.active {
     top: 0;
     transition: all .8s cubic-bezier(0.37, 0, 0.63, 1);
 }

#colorWipe1.done, #colorWipe2.done, #colorWipe3.done {
    height: 0;
    transition: all .8s cubic-bezier(0.37, 0, 0.63, 1);
}

#colorWipe #colorWipeLoader {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 56px;
    height: 59px;
    margin-left: -28px;
    margin-top: -29px
}

#alphabet .col-md-3, #gallery .col-md-3 {
    padding: 0;
}

.alphabet-letter, .gallery-item {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    position: relative;
}

.alphabet-letter-a {
    cursor: pointer;
    background-image: url('../img/letters/a.png');
}
.alphabet-letter-b {
    background-image: url('../img/letters/b.png');
}
.alphabet-letter-c {
    cursor: pointer;
    background-image: url('../img/letters/c.png');
}
.alphabet-letter-d {
    background-image: url('../img/letters/d.png');
}
.alphabet-letter-e {
    background-image: url('../img/letters/e.png');
}
.alphabet-letter-f {
    cursor: pointer;
    background-image: url('../img/letters/f.png');
}
.alphabet-letter-g {
    background-image: url('../img/letters/g.png');
}
.alphabet-letter-h {
    cursor: pointer;
    background-image: url('../img/letters/h.png');
}

.alphabet-letter-a .cover, .gallery-item:nth-child(1) .cover {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(239, 125, 76, .7);
}

.alphabet-letter-c .cover, .gallery-item:nth-child(2) .cover {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(243, 169, 36, .72);
}

.alphabet-letter-f .cover, .gallery-item:nth-child(3) .cover  {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(202, 54, 41, .74);
}

.alphabet-letter-h .cover, .gallery-item:nth-child(4) .cover  {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(243, 169, 36, .72);
}

.alphabet-letter .cover, .gallery-item .cover {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

@media (min-width: 768px) {
    .alphabet-letter:hover .cover, .gallery-item:hover .cover {
        -webkit-transition: all 0.2s ease-in;
        -moz-transition: all 0.2s ease-in;
        -o-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in;
    }

    .alphabet-letter:hover .gridCover1 {
        -webkit-transition: all 0.25s ease-in;
        -moz-transition: all 0.25s ease-in;
        -o-transition: all 0.25s ease-in;
        transition: all 0.25s ease-in;
    }

    .alphabet-letter-a:hover .cover,
    .gallery-item:hover .cover,
    .alphabet-letter-a:hover .gridCover1 {
        left: 100%;
    }
    .alphabet-letter-c:hover .cover,
    .alphabet-letter-c:hover .gridCover1 {
        top: 100%;
    }
    .alphabet-letter-f:hover .cover,
    .alphabet-letter-f:hover .gridCover1 {
        left: -100%;
    }
    .alphabet-letter-h:hover .cover,
    .alphabet-letter-h:hover .gridCover1 {
        top: -100%;
    }
}

.gridCover1 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -webkit-transition: all 0.25s ease-in;
    -moz-transition: all 0.25s ease-in;
    -o-transition: all 0.25s ease-in;
    transition: all 0.25s ease-in;
}

.gridLabel {
    text-transform: uppercase;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    margin-top: -.8em;
    font-weight: bold;
    font-size: 30pt;
    color: #fff4d6;
    opacity: 1;
}

.gridLabelUnderline {
    height: 11px;
    background: #fff4d6;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -30%;
    margin-top: 2.5em;
    width: 60%;
    -webkit-transition: margin-left 0.25s cubic-bezier(0.25, 0, 0.175, 1),width 0.25s cubic-bezier(0.25, 0, 0.175, 1);
    -moz-transition: margin-left 0.25s cubic-bezier(0.25, 0, 0.175, 1),width 0.25s cubic-bezier(0.25, 0, 0.175, 1);
    -o-transition: margin-left 0.25s cubic-bezier(0.25, 0, 0.175, 1),width 0.25s cubic-bezier(0.25, 0, 0.175, 1);
    transition: margin-left 0.25s cubic-bezier(0.25, 0, 0.175, 1),width 0.25s cubic-bezier(0.25, 0, 0.175, 1);
}

.section-image {
    background-image: url('../img/section_img.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #fff;
    height: 60%;
}

#contacts, #contacts a {
    color: #e54724!important;
}

#contacts .section-image {
    height: 30%;
}

.section-info {
    height: 40%;
    width: 100%;
    color: #000;
    border-top: 1px solid #f4f4f4;
}

.auto-height {
    height: auto;
}

.letterTriangle {
    font-size: 200px;
    position: absolute;
    height: 0;
    width: 0;
    top: 1px;
}

.letterTriangle .letterTriangleRotatedMask {
    position: absolute;
    top: 0;
    left: 0;
    width: .175em;
    height: .175em;
    overflow: hidden;
    -webkit-transform: rotate(
            -45deg
    );
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(
            -45deg
    );
    -webkit-transform-origin: top left;
    -moz-transform-origin: top left;
    -ms-transform-origin: top left;
    -o-transform-origin: top left;
    transform-origin: top left;
}

.letterTriangle .letterTriangleRotatedMask .letterTriangleTexture {
    position: absolute;
    top: -142%;
    left: 0;
    width: 142%;
    height: 142%;
    -webkit-transform: rotate(
            45deg
    );
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(
            45deg
    );
    -webkit-transform-origin: bottom left;
    -moz-transform-origin: bottom left;
    -ms-transform-origin: bottom left;
    -o-transform-origin: bottom left;
    transform-origin: bottom left;
    background-color: #fff;
}

.letterBottomContent {
    position: relative;
    margin-top: 20px;
}

.letterBottomContent .letterTitle {
    color: #e54724;
    position: relative;
    font-size: 3.5em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.045em;
    margin-bottom: 0.32em;
    line-height: 1.15em;
    max-width: 100%;
}

.letterBottomContent .letterUnderline {
    background-color: #e54724;
    width: 3em;
    height: 9px;
    position: absolute;
    top: 60px;
    left: 4px;
}

.letterBottomContent .letterBottomContentLower .letterBody {
    width: 30em;
    max-width: 100%;
    font-size: .07em;
    letter-spacing: 0.03em;
}

.connect-4 {
    display: inline-block;
    width: 300px;
    height: 200px;
    background-image: url('../img/dots.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}
.drawar {
    display: inline-block;
    width: 300px;
    height: 200px;
    background-image: url('../img/drawar.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}
.seawar {
    display: inline-block;
    width: 200px;
    height: 200px;
    background-image: url('../img/seawar.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
}
.section-info a {
    text-decoration: none;
}
.game-label {
    font-weight: 600;
    color: black;
}

#videochat {
    background-image: url('../img/main_bg.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#videochat label {
    font-weight: bold;
    color: #ff6154;
    display: block;
    font-size: 20pt;
}

#videochat input {
    background-image: url('../img/input.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 40px;
    border: none;
    text-align: center;
    font-weight: bold;
    font-size: 25pt;
    padding: 5px 20px;
    color: #fff;
    outline: none!important;
}
.my-btn {
    margin-top: 20px;
    border: none;
    border-radius: 40px;
    background-image: url('../img/gradient.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    font-weight: bold;
    padding: 10px 20px;
    width: 50%;
    font-size: 20pt;
}

#rooms {
    background-image: url('../img/gradient.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#main_room {
    position: relative;
    height: 50%;
    text-align: center;
    background-image: url("../img/section_img.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 20px solid #fff;
    border-radius: 30px;
    width: 50%;
    margin: 50px auto;
    background-color: #fff;
}

#main_room .title {
    font-size: 45pt;
    color: #fff;
    z-index: 100;
    position: absolute;
    font-weight: bold;
    top: 50%;
    right: 0;
    left: 0;
    margin-top: -50px;
}

#main_room video {
    border-radius: 20px;
    margin-top: 50px;
    height: calc(100% - 50px);
}

#other_rooms .room:hover {
    box-shadow: 0 2px 10px 5px rgba(0, 0, 0, .1);
    margin-top: -1px;
}

#other_rooms a {
    text-decoration: none;
}

.room {
    background-color: #fff;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    border: 10px solid #fff;
    height: 200px;
    cursor: pointer;
}

.main-room-hidden {
    display: none;
}

.room-0 {
    background-image: url('../img/section_img.webp');
}

.room-1 {
    background-image: url('../img/rooms/room-1-thumb.jpg');
}
.room-2 {
    background-image: url('../img/rooms/room-2-thumb.jpg');
}
.room-3 {
    background-image: url('../img/rooms/room-3-thumb.jpg');
}
.room-4 {
    background-image: url('../img/rooms/room-4-thumb.jpg');
}
.room-5 {
    background-image: url('../img/rooms/room-5-thumb.jpg');
}

.room-name {
    text-align: center;
    color: #fff;
    font-weight: bold;
    margin-top: 20px;
    font-size: 15pt;
}

#room {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#room video {
    z-index: 3;
    border-radius: 20px;
    height: 74vh;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: -37vh auto 0;
    display: block;
}
.room-layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(255, 97, 84, .5);
}

#loading {
    background-image: url('../img/giphy.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 70%;
    right: 0;
    left: 0;
    margin: 0 auto;
    opacity: 0;
}

#menu {
    width: 40px;
    height: 40px;
    background-image: url('../img/menu.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: fixed;
    left: 50px;
    top: 50px;
    z-index: 99;
    cursor: pointer;
}

.gallery-item {
    cursor: pointer;
}

.menuButton {
    position: absolute;
    width: 50px;
    height: 50px;
    overflow: hidden;
    outline: none;
    cursor: pointer;
    background-image: url('../img/home.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.menuButton:hover {
    transform: scale(1.1);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.menuButton div {
    position: absolute;
    width: 10px;
    height: 10px
}

.menuButton .menuButtonCover {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.menuButton div:nth-child(0n+1) {
    left: 0;
    top: 0;
    -webkit-transition: left 0.5s 0s;
    -moz-transition: left 0.5s 0s;
    -o-transition: left 0.5s 0s;
    transition: left 0.5s 0s
}

.menuButton div:nth-child(0n+2) {
    left: 15px;
    top: 0px;
    -webkit-transition: left 0.5s 0s;
    -moz-transition: left 0.5s 0s;
    -o-transition: left 0.5s 0s;
    transition: left 0.5s 0s
}

.menuButton div:nth-child(0n+3) {
    left: 30px;
    top: 0px;
    -webkit-transition: left 0.5s 0s;
    -moz-transition: left 0.5s 0s;
    -o-transition: left 0.5s 0s;
    transition: left 0.5s 0s
}

.menuButton div:nth-child(0n+4) {
    left: 0px;
    top: 15px;
    -webkit-transition: left 0.5s 0.1s;
    -moz-transition: left 0.5s 0.1s;
    -o-transition: left 0.5s 0.1s;
    transition: left 0.5s 0.1s
}

.menuButton div:nth-child(0n+5) {
    left: 15px;
    top: 15px;
    -webkit-transition: left 0.5s 0.1s;
    -moz-transition: left 0.5s 0.1s;
    -o-transition: left 0.5s 0.1s;
    transition: left 0.5s 0.1s
}

.menuButton div:nth-child(0n+6) {
    left: 30px;
    top: 15px;
    -webkit-transition: left 0.5s 0.1s;
    -moz-transition: left 0.5s 0.1s;
    -o-transition: left 0.5s 0.1s;
    transition: left 0.5s 0.1s
}

.menuButton div:nth-child(0n+7) {
    left: 0px;
    top: 30px;
    -webkit-transition: left 0.5s 0.2s;
    -moz-transition: left 0.5s 0.2s;
    -o-transition: left 0.5s 0.2s;
    transition: left 0.5s 0.2s
}

.menuButton div:nth-child(0n+8) {
    left: 15px;
    top: 30px;
    -webkit-transition: left 0.5s 0.2s;
    -moz-transition: left 0.5s 0.2s;
    -o-transition: left 0.5s 0.2s;
    transition: left 0.5s 0.2s
}

.menuButton div:nth-child(0n+9) {
    left: 30px;
    top: 30px;
    -webkit-transition: left 0.5s 0.2s;
    -moz-transition: left 0.5s 0.2s;
    -o-transition: left 0.5s 0.2s;
    transition: left 0.5s 0.2s
}

.menuButton {
    position: absolute;
    top: 70px;
    left: 70px
}

.menuButton div:nth-child(10) {
    left: -45px;
    top: 0;
    -webkit-transition: left 0.5s 0s;
    -moz-transition: left 0.5s 0s;
    -o-transition: left 0.5s 0s;
    transition: left 0.5s 0s
}

.menuButton div:nth-child(11) {
    left: -30px;
    top: 0;
    -webkit-transition: left 0.5s 0s;
    -moz-transition: left 0.5s 0s;
    -o-transition: left 0.5s 0s;
    transition: left 0.5s 0s
}

.menuButton div:nth-child(12) {
    left: -15px;
    top: 0;
    -webkit-transition: left 0.5s 0s;
    -moz-transition: left 0.5s 0s;
    -o-transition: left 0.5s 0s;
    transition: left 0.5s 0s
}

.menuButton div:nth-child(13) {
    left: -45px;
    top: 15px;
    -webkit-transition: left 0.5s 0.1s;
    -moz-transition: left 0.5s 0.1s;
    -o-transition: left 0.5s 0.1s;
    transition: left 0.5s 0.1s
}

.menuButton div:nth-child(14) {
    left: -30px;
    top: 15px;
    -webkit-transition: left 0.5s 0.1s;
    -moz-transition: left 0.5s 0.1s;
    -o-transition: left 0.5s 0.1s;
    transition: left 0.5s 0.1s
}

.menuButton div:nth-child(15) {
    left: -15px;
    top: 15px;
    -webkit-transition: left 0.5s 0.1s;
    -moz-transition: left 0.5s 0.1s;
    -o-transition: left 0.5s 0.1s;
    transition: left 0.5s 0.1s
}

.menuButton div:nth-child(16) {
    left: -45px;
    top: 30px;
    -webkit-transition: left 0.5s 0.2s;
    -moz-transition: left 0.5s 0.2s;
    -o-transition: left 0.5s 0.2s;
    transition: left 0.5s 0.2s
}

.menuButton div:nth-child(17) {
    left: -30px;
    top: 30px;
    -webkit-transition: left 0.5s 0.2s;
    -moz-transition: left 0.5s 0.2s;
    -o-transition: left 0.5s 0.2s;
    transition: left 0.5s 0.2s
}

.menuButton div:nth-child(18) {
    left: -15px;
    top: 30px;
    -webkit-transition: left 0.5s 0.2s;
    -moz-transition: left 0.5s 0.2s;
    -o-transition: left 0.5s 0.2s;
    transition: left 0.5s 0.2s
}

.menuButton:hover div:nth-child(0n+1) {
    left: 45px
}

.menuButton:hover div:nth-child(0n+2) {
    left: 60px
}

.menuButton:hover div:nth-child(0n+3) {
    left: 75px
}

.menuButton:hover div:nth-child(0n+4) {
    left: 45px
}

.menuButton:hover div:nth-child(0n+5) {
    left: 60px
}

.menuButton:hover div:nth-child(0n+6) {
    left: 75px
}

.menuButton:hover div:nth-child(0n+7) {
    left: 45px
}

.menuButton:hover div:nth-child(0n+8) {
    left: 60px
}

.menuButton:hover div:nth-child(0n+9) {
    left: 75px
}

.menuButton:hover div:nth-child(10) {
    left: 0
}

.menuButton:hover div:nth-child(11) {
    left: 15px
}

.menuButton:hover div:nth-child(12) {
    left: 30px
}

.menuButton:hover div:nth-child(13) {
    left: 0
}

.menuButton:hover div:nth-child(14) {
    left: 15px
}

.menuButton:hover div:nth-child(15) {
    left: 30px
}

.menuButton:hover div:nth-child(16) {
    left: 0
}

.menuButton:hover div:nth-child(17) {
    left: 15px
}

.menuButton:hover div:nth-child(18) {
    left: 30px
}
.slick-slide {
    display: flex!important;
}

.slick-next {
    right: 25px!important;
    opacity: .75;
    z-index: 1000;
    background-image: url('../img/right-arrow.png');
    background-position: center;
    background-size: cover;
    width: 50px;
    height: 50px;
}

.slick-next:before {
    content: none!important;
}

.slick-prev {
    left: 25px!important;
    opacity: .75;
    z-index: 1000;
    background-image: url('../img/left-arrow.png');
    background-position: center;
    background-size: cover;
    width: 50px;
    height: 50px;
}

.slick-prev:before {
    content: none!important;
}