@media (max-width: 768px) {
    body {
        overflow: auto!important;
    }
    #start_logo {
        width: auto!important;
        height: 130px!important;
        background-size: contain!important;
    }

    .bg-part {
        display: none;
    }

    .gridLabel {
        font-size: 25pt!important;
    }

    #alphabet {
        height: initial;
    }

    .column-4:nth-child(1) {
        text-align: right;
    }

    .column-4:nth-child(1) img,
    .column-4:nth-child(3) img {
        width: 80px;
    }
    .column-4:nth-child(2) img {
        width: 100px;
    }

    .section {
        height: initial!important;
        position: relative!important;
        top: auto!important;
    }
    #initialLoader {
        top: 0!important;
        height: 100%!important;
        position: fixed!important;
    }

    #games, #videochat, #gallery {
        display: none;
    }

    .gallery-item .cover {
        display: none!important;
    }

    #videochat {
        height: 100%!important;
    }

    #contacts .container-fluid {
        margin-top: 0!important;
        max-width: 100%!important;
    }

    .menuButton {
        display: block;
        top: 120px;
        position: fixed;
        left: 20px!important;
        z-index: 1;
    }

    #games .menuButton, #contacts .menuButton, #rooms .menuButton {
        top: 30px;
    }

    #gallery .menuButton {
        top: 120px;
        left: 20px;
    }

    .alphabet-letter {
        height: 200px!important;
    }

    .alphabet-letter-d {
        display: none;
    }

    .section-image {
        height: 20vh!important;
        max-height: 400px;
    }

    #map {
        height: 400px!important;
        margin-bottom: 30px;
    }

    .section-info {
        bottom: initial;
    }

    #videochat img {
        width: 40%;
    }
    #videochat input {
        width: 100%;
    }

    #main_room {
        display: none!important;
    }

    #rooms {
        height: initial;
    }

    .room-name {
        margin-top: 10px;
        margin-bottom: 30px;
    }

    .main-room-hidden {
        display: block;
    }
}